!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body

    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{:href=>root_path} uolance
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          - if user_signed_in?
            %li
              %a{href: posts_path} All Posts
            %li.has-dropdown
              %a{href: user_path(:user_id)} User
              %ul.dropdown
                %li
                  %a{href: edit_user_registration_path} Account
                %li
                  = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            %li
              = link_to('Login', new_user_session_path)
          %li.active
            %a{href: new_post_path} LIST A JOB
        / Left Nav Section
        %ul.left
          %li.has-form
            %div.row.collapse
              %div.medium-8.small-9.columns
                %input{:type=>"text", :placeholder=>"Search"}
              %div.medium-4.small-3.columns
                %a.alert.button.expand{:href=>"#"}O


    = yield


    = javascript_include_tag "application"
